<div id="<%= dom_id engagement %>">
  <p>
    <strong>Title:</strong>
    <%= engagement.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= engagement.description %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= engagement.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= engagement.end_time %>
  </p>

</div>
