<div class="container mt-5 text-center">
    <h1>Group Scheduler</h1>
    <p>Keep The Network GOING & GROWING</p>

    <%= month_calendar(events: @engagements) do |date, engagements| %>
        <div class="day">
            <%= date  %>
        </div>

        <% engagements.each do |engagement| %>
            <div class="card-header">
                <h5 class="card-title">
                    <%= link_to engagement.title, engagement %>
                </h5>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <%= engagement.description%>
                </div>
            </div>
            <div class="card-footer">
                <div class="card-text">
                    From:  <%= engagement.start_time.strftime('%A,%B%t%d,%Y at %I:%M')%>
                 
                </div>
            </div>

        <% end%>
    <% end %>
</div> 